<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <logger name="ch" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>



    <property name="LOGS_PATH" value="./logs" />
    <timestamp key="timestamp" datePattern="yyyy-MM-dd"/>
    <!-- Appender for error level logs in services package -->
    <appender name="RollingFile-AppenderInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/cafheg_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <logger name="ch.hearc.cafheg.infrastructure" level="info">
        <appender-ref ref="RollingFile-AppenderInfo" />
    </logger>


    <appender name="File-AppenderError" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS_PATH}/err.log</file>
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <logger name="ch" level="error">
        <appender-ref ref="File-AppenderError" />
    </logger>





</configuration>