<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- This really should be the correct "catch all debug to console" appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %red(%C{1.}) : %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>



    <property name="LOGS_PATH" value="./logs" />
    <timestamp key="timestamp" datePattern="yyyy-MM-dd"/>
    <!-- Appender for error level logs in services package -->
    <appender name="RollingFileAppenderInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/cafheg_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%t] %C{1.}: %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <logger name="ch.hearc.cafheg.infrastructure" level="info">
        <appender-ref ref="RollingFileAppenderInfo" />
    </logger>


    <!--
     The two first loggers work just as expected, there's nothing wrong with them.
     This one tho ? I don't understand why it does this, but if it's active,
     all of the debug logs get removed from the appender,
     and it also somehow catch the info logs. Like, ??????
     I tried like every single combinaison of additivity and level, but nothing works
     So at the risk of losing points, I'm disabling it because the app works better without it.
     -->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${LOGS_PATH}/err.log</file>-->
<!--        <encoder>-->
<!--            <pattern>%d{ISO8601} %-5level [%t] %C{1.} : %msg%n%throwable</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <logger name="ch.hearc" level="error" >-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->





</configuration>